In [24]:
import pandas as pd
import numpy as np
May31Velo = pd.read_csv('~/Downloads/Tomsox Data/Velocity Charts/TomSox Velocity Chart  5-31-2025 - Chart.csv')
May31sum = May31Velo.groupby(['Pitcher', 'Pitch']).agg({
    'Velocity': ['mean', 'min', 'max'],
    'Spin Rate': ['mean', 'min', 'max']
}).reset_index()
May31sum.head(20)

     Pitcher Pitch   Velocity                Spin Rate
                         mean   min   max         mean     min     max
0   Dietrich    CH  81.400000  76.0  83.0  1755.000000  1755.0  1755.0
1   Dietrich    FB  86.500000  84.0  88.0  2122.800000  2075.0  2177.0
2   Dietrich    SL  77.600000  76.0  79.0          NaN     NaN     NaN
3       Duff    CH  80.000000  80.0  80.0          NaN     NaN     NaN
4       Duff    FB  84.700000  83.0  86.0          NaN     NaN     NaN
5       Duff    OT  79.000000  79.0  79.0          NaN     NaN     NaN
6       Duff    SL  76.222222  72.0  80.0          NaN     NaN     NaN
7       Link    CH  80.666667  78.0  84.0          NaN     NaN     NaN
8       Link    FB  88.206897  86.0  91.0  2213.333333  2129.0  2330.0
9       Link    SL  79.619048  77.0  83.0  2376.000000  2232.0  2504.0
10    Roarty    CH  80.300000  78.0  82.0          NaN     NaN     NaN
11    Roarty    FB  88.263158  84.0  92.0  2236.600000  2027.0  2874.0
12    Roarty    SL  79.928571  76.0  82.0          NaN     NaN     NaN
13  Stockham    CH  81.111111  80.0  82.0          NaN     NaN     NaN
14  Stockham    FB  87.210526  86.0  89.0  2032.500000  2032.0  2033.0
15  Stockham    SL  72.400000  71.0  74.0  2094.000000  2094.0  2094.0

In [25]:
June1Velo = pd.read_csv('~/Downloads/Tomsox Data/Velocity Charts/TomSox Velocity Chart  6-1-2025 - Chart.csv')
June1sum = June1Velo.groupby(['Pitcher', 'Pitch']).agg({
    'Velocity': ['mean', 'min', 'max'],
    'Spin Rate': ['mean', 'min', 'max']
}).reset_index()
June1sum.head(20)

   Pitcher Pitch   Velocity                Spin Rate
                       mean   min   max         mean     min     max
0  DeRossi    CB  71.333333  69.0  75.0  2448.500000  2431.0  2466.0
1  DeRossi    CH  80.300000  77.0  84.0  2294.666667  1636.0  4023.0
2  DeRossi    FB  85.136364  81.0  87.0  2225.058824  2089.0  2330.0
3  DeRossi    SL  76.000000  75.0  77.0  2374.250000  2168.0  2502.0

In [26]:
June4Velo = pd.read_csv('~/Downloads/Tomsox Data/Velocity Charts/ TomSox Velocity Chart  6-4-2025 - Chart.csv')
June4sum = June4Velo.groupby(['Pitcher', 'Pitch']).agg({
    'Velocity': ['mean', 'min', 'max'],
    'Spin Rate': ['mean', 'min', 'max']
}).reset_index()
June4sum.head(20)

     Pitcher Pitch   Velocity             Spin Rate
                         mean   min   max      mean min max
0    Bingler    CH  80.666667  78.0  83.0       NaN NaN NaN
1    Bingler    FB  89.173913  85.0  91.0       NaN NaN NaN
2    Bingler    SL  79.666667  78.0  81.0       NaN NaN NaN
3    Bristow    CB  70.500000  70.0  72.0       NaN NaN NaN
4    Bristow    FB  90.222222  89.0  92.0       NaN NaN NaN
5     Costen    CB  74.000000  74.0  74.0       NaN NaN NaN
6     Costen    FB  84.333333  82.0  86.0       NaN NaN NaN
7     Gibson    CB  75.833333  74.0  77.0       NaN NaN NaN
8     Gibson    CH  82.250000  79.0  85.0       NaN NaN NaN
9     Gibson    FB  88.800000  87.0  91.0       NaN NaN NaN
10    Gibson    SL  80.400000  78.0  83.0       NaN NaN NaN
11    Roarty    CH  81.000000  79.0  83.0       NaN NaN NaN
12    Roarty    FB  88.750000  86.0  91.0       NaN NaN NaN
13    Roarty    SL  79.000000  77.0  81.0       NaN NaN NaN
14  Stockham    CH  80.000000  80.0  80.0       NaN NaN NaN
15  Stockham    FB  85.181818  82.0  87.0       NaN NaN NaN
16  Stockham    SL  72.500000  72.0  73.0       NaN NaN NaN

In [27]:
June6Velo = pd.read_csv('~/Downloads/Tomsox Data/Velocity Charts/TomSox Velocity Chart  6-6-2025 - Chart.csv')
June6sum = June6Velo.groupby(['Pitcher', 'Pitch']).agg({
    'Velocity': ['mean', 'min', 'max'],
    'Spin Rate': ['mean', 'min', 'max']
}).reset_index()
June6sum.head(20)

     Pitcher Pitch   Velocity                Spin Rate
                         mean   min   max         mean     min     max
0     Alwine    CH  79.750000  74.0  83.0  1282.000000  1106.0  1399.0
1     Alwine    FB  85.730769  82.0  88.0  2506.894737  2385.0  3444.0
2     Alwine    SL  77.150000  74.0  80.0  2321.800000  2178.0  3273.0
3     Booton    FB  83.615385  82.0  85.0  1996.083333  1903.0  2070.0
4     Booton    SL  74.750000  74.0  75.0  1463.500000   991.0  1936.0
5   Dietrich    CB  77.000000  77.0  77.0          NaN     NaN     NaN
6   Dietrich    CH  84.000000  84.0  84.0  1755.000000  1755.0  1755.0
7   Dietrich    FB  88.625000  86.0  91.0  2213.000000  2141.0  2308.0
8   Dietrich    SL  83.000000  80.0  86.0  2242.000000  2242.0  2242.0
9       Link    CH  81.833333  80.0  83.0          NaN     NaN     NaN
10      Link    FB  87.225806  84.0  90.0  2281.375000  2171.0  2877.0
11      Link    SL  78.384615  75.0  81.0  2550.000000  2187.0  3817.0

In [28]:
June7Velo = pd.read_csv('~/Downloads/Tomsox Data/Velocity Charts/ TomSox Velocity Chart  6-7-2025 - Chart.csv')
June7sum = June7Velo.groupby(['Pitcher', 'Pitch']).agg({
    'Velocity': ['mean', 'min', 'max'],
    'Spin Rate': ['mean', 'min', 'max']
}).reset_index()
June7sum.head(20)

      Pitcher Pitch   Velocity                Spin Rate
                          mean   min   max         mean     min     max
0        Duff    CH  78.000000  75.0  80.0  1264.500000  1204.0  1325.0
1        Duff    FB  84.500000  82.0  86.0  2048.285714  1508.0  2200.0
2        Duff    SL  74.800000  72.0  77.0  2250.750000  2183.0  2352.0
3      Lawson    CB  73.000000  73.0  73.0  2618.000000  2618.0  2618.0
4      Lawson    FB  88.580645  86.0  90.0  2297.944444  2007.0  2500.0
5      Lawson    SL  75.285714  73.0  77.0  2615.769231  2460.0  2781.0
6      Newman    CH  76.666667  74.0  79.0  1387.000000  1326.0  1448.0
7      Newman    FB  86.363636  81.0  89.0  2110.300000  1988.0  2210.0
8      Newman    SL  75.631579  74.0  78.0  2527.866667  2409.0  2634.0
9      Roarty    CH  80.000000  79.0  81.0  1970.000000  1970.0  1970.0
10     Roarty    FB  86.875000  84.0  90.0  1809.250000  1615.0  1921.0
11     Roarty    SL  75.444444  74.0  78.0          NaN     NaN     NaN
12  Schneider    CH  80.250000  79.0  81.0  2157.000000  2157.0  2157.0
13  Schneider    FB  83.000000  81.0  85.0          NaN     NaN     NaN
14  Schneider    SL  76.000000  76.0  76.0          NaN     NaN     NaN
15   Stockham    CH  78.285714  76.0  81.0  1446.000000  1349.0  1529.0
16   Stockham    FB  84.473684  82.0  86.0  2102.000000  2063.0  2141.0
17   Stockham    SL  72.615385  70.0  77.0  2034.000000  1971.0  2066.0

In [29]:
June10Velo = pd.read_csv('~/Downloads/Tomsox Data/Velocity Charts/ TomSox Velocity Chart  6-10-2025 - Chart.csv')
June10sum = June10Velo.groupby(['Pitcher', 'Pitch']).agg({
    'Velocity': ['mean', 'min', 'max'],
    'Spin Rate': ['mean', 'min', 'max']
}).reset_index()
June10sum.head(20)

    Pitcher Pitch   Velocity             Spin Rate
                        mean   min   max      mean     min     max
0   DeRossi    CB  71.200000  69.0  74.0    2645.0  2645.0  2645.0
1   DeRossi    FB  87.666667  86.0  89.0    2261.0  2227.0  2295.0
2   DeRossi    SL  79.000000  75.0  83.0    2377.0  2377.0  2377.0
3  Dietrich    CB        NaN   NaN   NaN       NaN     NaN     NaN
4  Dietrich    CH        NaN   NaN   NaN       NaN     NaN     NaN
5  Dietrich    FB  90.000000  89.0  91.0    2107.5  2098.0  2117.0
6  Dietrich    SL        NaN   NaN   NaN       NaN     NaN     NaN
7    Gibson    CH  82.600000  80.0  86.0    1414.0  1414.0  1414.0
8    Gibson    FB  89.250000  87.0  91.0    2413.5  2249.0  2578.0
9    Gibson    SL  82.000000  77.0  86.0    2379.6  2208.0  2838.0

In [30]:
June11Velo = pd.read_csv('~/Downloads/Tomsox Data/Velocity Charts/TomSox Velocity Chart  6-11-2025 - Chart.csv')
June11sum = June11Velo.groupby(['Pitcher', 'Pitch']).agg({
    'Velocity': ['mean', 'min', 'max'],
    'Spin Rate': ['mean', 'min', 'max']
}).reset_index()
June11sum.head(20)

    Pitcher Pitch   Velocity                Spin Rate
                        mean   min   max         mean     min     max
0   Bingler    CH  83.214286  82.0  84.0  1837.285714  1714.0  1970.0
1   Bingler    FB  89.500000  89.0  90.0  2492.500000  2445.0  2540.0
2   Bingler    SL  79.000000  78.0  80.0  2356.125000  2320.0  2403.0
3   Bingler   SNK  88.333333  87.0  90.0  2417.555556  1989.0  2486.0
4    Booton    SL  76.000000  76.0  76.0          NaN     NaN     NaN
5    Booton   SNK  86.000000  85.0  87.0  2004.333333  1949.0  2038.0
6      Link    CH  83.000000  83.0  83.0          NaN     NaN     NaN
7      Link    FB  89.407407  87.0  91.0  2385.181818  2225.0  2858.0
8      Link    SL  78.909091  75.0  82.0  2292.625000  1590.0  2526.0
9    Newman    CH  77.400000  75.0  79.0  1414.500000  1302.0  1505.0
10   Newman    FB  88.000000  87.0  89.0  2220.000000  2210.0  2230.0
11   Newman    SL  74.250000  74.0  75.0  2507.000000  2482.0  2541.0
12   Newman   SNK  85.833333  84.0  88.0  2132.095238  2024.0  2186.0

In [31]:
June12Velo = pd.read_csv('~/Downloads/Tomsox Data/Velocity Charts/TomSox Velocity Chart  6-12-2025 - Chart.csv')
June12Velo['Velocity'] = pd.to_numeric(June12Velo['Velocity'], errors='coerce')
June12Velo['Spin Rate'] = pd.to_numeric(June12Velo['Spin Rate'], errors='coerce')
June12sum = June12Velo.groupby(['Pitcher', 'Pitch']).agg({
    'Velocity': ['mean', 'min', 'max'],
    'Spin Rate': ['mean', 'min', 'max']
}).reset_index()
June12sum.head(20)

     Pitcher Pitch   Velocity                Spin Rate
                         mean   min   max         mean     min     max
0     Alwine    CB  75.200000  75.0  76.0  2189.000000  2175.0  2203.0
1     Alwine    CH  78.058824  75.0  82.0  1924.285714  1348.0  2303.0
2     Alwine    FB  84.842105  79.0  89.0  2398.000000  1850.0  2532.0
3     Alwine    SL  77.166667  76.0  78.0  2446.500000  2271.0  2939.0
4    Craytor    CB  75.000000  74.0  76.0          NaN     NaN     NaN
5    Craytor    CH  81.250000  80.0  84.0          NaN     NaN     NaN
6    Craytor    FB  88.571429  85.0  91.0  2043.500000  1931.0  2130.0
7    Craytor    SL  77.363636  73.0  80.0  2193.000000  2045.0  2294.0
8       Duff    CB  75.000000  75.0  75.0          NaN     NaN     NaN
9       Duff    CH  79.600000  78.0  81.0          NaN     NaN     NaN
10      Duff    FB  84.954545  82.0  89.0  2100.600000  1968.0  2167.0
11      Duff    SL  76.111111  73.0  79.0  2366.166667  2105.0  3223.0
12  Eldridge    CB  70.500000  70.0  71.0  2394.500000  2359.0  2430.0
13  Eldridge    CH  82.000000  82.0  82.0          NaN     NaN     NaN
14  Eldridge    FB  87.000000  84.0  89.0  2122.875000  1890.0  2251.0
15  Schnider    CH  76.357143  74.0  81.0  1734.400000  1494.0  2104.0
16  Schnider    FB  86.076923  80.0  88.0  2245.428571  2125.0  2350.0
17  Schnider    SL  76.000000  75.0  77.0          NaN     NaN     NaN

In [32]:
June16Velo = pd.read_csv('~/Downloads/Tomsox Data/Velocity Charts/TomSox Velocity Chart  6-15-2025 - Chart.csv')
June16sum = June16Velo.groupby(['Pitcher', 'Pitch']).agg({
    'Velocity': ['mean', 'min', 'max'],
    'Spin Rate': ['mean', 'min', 'max']
}).reset_index()
June16sum.head(20)

   Pitcher Pitch   Velocity                Spin Rate
                       mean   min   max         mean     min     max
0   Lawson    CB  76.153846  74.0  78.0  2601.750000  2466.0  2728.0
1   Lawson    FB  88.255814  86.0  90.0  2257.115385  2104.0  2382.0
2     Link    FB  89.875000  88.0  92.0  2345.937500  2207.0  2447.0
3     Link    SL  80.782609  78.0  83.0  2470.062500  2115.0  2660.0
4  Roberts    CH  83.000000  83.0  83.0          NaN     NaN     NaN
5  Roberts    FB  92.409091  91.0  95.0  2387.470588  2258.0  2455.0
6  Roberts    SL  84.250000  83.0  85.0          NaN     NaN     NaN

In [34]:
June17Velo = pd.read_csv('~/Downloads/Tomsox Data/Velocity Charts/ TomSox Velocity Chart  6-17-2025 - Chart.csv')
June17sum = June17Velo.groupby(['Pitcher', 'Pitch']).agg({
    'Velocity': ['mean', 'min', 'max'],
    'Spin Rate': ['mean', 'min', 'max']
}).reset_index()
June17sum.head(20)

     Pitcher Pitch   Velocity                Spin Rate
                         mean   min   max         mean     min     max
0        Ban    FB        NaN   NaN   NaN          NaN     NaN     NaN
1    Booton     FB  87.333333  87.0  88.0  2089.000000  2086.0  2092.0
2    Booton     SL  75.800000  74.0  77.0  1927.000000  1865.0  1963.0
3    Booton    SNK  85.500000  85.0  86.0  1994.500000  1922.0  2100.0
4    Derossi    CB  73.250000  72.0  74.0  2596.500000  2556.0  2621.0
5    Derossi    CH  82.000000  82.0  82.0  1702.000000  1702.0  1702.0
6    Derossi    FB  87.285714  84.0  90.0  2355.000000  2254.0  2463.0
7    Derossi    SL  78.000000  75.0  80.0  2511.333333  2489.0  2536.0
8     Gibson    CH  83.125000  82.0  84.0  2160.500000  2121.0  2200.0
9     Gibson    FB  88.718750  84.0  91.0  2270.615385  2086.0  2422.0
10    Gibson    SL  81.076923  79.0  84.0  2383.714286  2308.0  2466.0
11  Janssens    FB  88.333333  86.0  90.0  2143.333333  2032.0  2242.0
12  Janssens    SL  75.500000  75.0  76.0  2299.500000  2270.0  2329.0
13   Newman     CB  76.000000  76.0  76.0  2768.000000  2768.0  2768.0
14   Newman     CH  77.000000  75.0  79.0  1442.125000  1349.0  1519.0
15   Newman     FB  85.655172  83.0  89.0  2148.703704  1926.0  2250.0
16   Newman     SL  76.555556  74.0  78.0  2563.444444  1616.0  2810.0